<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    <script>
        function validatePwd(pwd){
            var exp = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/;
            return exp.test(pwd);
        }

        function submit() {
            document.getElementById("error").innerHTML="";
            document.getElementById("success").innerHTML="";

              var pwd = document.getElementById("pwd").value;
              var cpwd = document.getElementById("cpwd").value;
              var token=getParameterByName('token');
              if(token!=null)
                token=token.trim();

              if(pwd == '' || cpwd == '')
              {
                document.getElementById("error").innerHTML = "Password / Confirm Password value cannot be empty";
              }
              else if(pwd != cpwd){
                document.getElementById("error").innerHTML = "Password & Confirm Password value must be same";
              }
              else if(token == null || token ==''){
                document.getElementById("error").innerHTML = "Invalid request ! No token found";
              }
              else{
                if(validatePwd(pwd))
                    doPost(token, pwd);
                else
                    document.getElementById("error").innerHTML="Password must contain a minimum of 8 characters including 1 uppercase letter, 1 special character and alphanumeric character"
              }
        }

        function getParameterByName(name, url) {
          if (!url) url = window.location.href;
          name = name.replace(/[\[\]]/g, "\\$&");
          var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
              results = regex.exec(url);
          if (!results) return null;
          if (!results[2]) return '';
          return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        function doPost(token, pwd){
            console.log("Started post operation..");
            var url = location.protocol + '//' + window.location.host + document.getElementById('api_url').value;
            if(url==null || url == ''){
              document.getElementById("error").innerHTML = "Server error ! No end point found";
            }
            else{
              var XHR = new XMLHttpRequest();
              XHR.addEventListener('load', function(event) {
                if(event.currentTarget.status == 200)
                   document.getElementById("success").innerHTML = 'Password updated successfully!';
                else if(event.currentTarget.status == 400){
                   document.getElementById("error").innerHTML = 'Invalid request. Please contact admin!';
                }
                else if(event.currentTarget.status == 403){
                    document.getElementById("error").innerHTML = 'Link is expired.Please Try Again!';
                }
                else
                   document.getElementById("error").innerHTML = 'There is some internal glitch. Please check back in sometime!';
              });
              // We define what will happen in case of error
              XHR.addEventListener('error', function(event) {
                document.getElementById("error").innerHTML = "Internal server error";
              });

              var jsonData = JSON.stringify({"token": token, "password": pwd});

              XHR.open('POST', url);
              XHR.setRequestHeader('Content-Type', 'application/json');
              XHR.send(jsonData);
            }
        }
    </script>
</head>
<body style="background:#F7F7F7  ">
    <br/><br/><br/><br/><br/><br/>
    <input type="hidden" value="{{ update_pwd_str }}" id="api_url" />
    <div class="container-fluid" style="text-align:center;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="float: none; margin: 0 auto; ">
                <img src="{% static '/images/dealmax.png' %}" style="width:250px; margin-top:10%" />
                <div class="form-group" style="width:100%; text-align:left;">
                    <label for="pwd">New Password <span style="color:red;">*</span></label>
                    <input id="pwd" name="password"  type="password" class="form-control" required>
                    <br/>
                </div>
                <div class="form-group" style="width:100%; text-align:left;">
                    <label for="cpwd">Confirm Password <span style="color:red;">*</span></label>
                    <input id="cpwd"  type="password" name="cpassword" class="form-control" required>
                    <br/>
                </div>
                <div class="form-group" style="width:100%;">
                    <button style="width:100%;background-color:#2187BA; color:white" type="button" onclick="submit()">SUBMIT</button>
                    <br/>
                    <br/>
                    <br/>
                </div>
                <div class="form-group" style="width:100%">
                    <p id="error" style="color:red;"></p>
                    <p id="success" style="color:green;"></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>